.main_banner_div{
    padding: 5px;
    height: 12rem;
    border-radius: 10px;
    background-color: #f1f1f1;
    position: relative;
    margin-bottom:1rem;
    box-shadow: -5px 5px 10px rgba(217, 217, 217, 0.2), 5px -5px 10px rgba(217, 217, 217, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(217, 217, 217, 0.9);
}

.banner{
    background-image: url("../../../asset/images/banner.png");
    background-repeat: no-repeat;
    height: 12rem;
    background-size: cover;
     border-radius: 10px;
    
}

.banner span{
    color: rgb(28, 4, 4);
    font-size: 20px;
    font-weight:500;
    position: absolute;
    bottom: 10%;
    left: 2%; 
}